body {
  background: black;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  
  .sun {
    width: 80px;
    height: 80px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 40px yellow;
    transition: 10s ease-in-out;
  }
  .sun:hover {
    transform: scale(1.5);
  }
  
  .orbit {
    width: 100px;
    height: 100px;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    border-radius: 50%;
    animation: rotate linear infinite;
    transition: 10s ease-in-out;
  }
  
  .planet {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    transition: all 10s ease-in-out;
  }

  .orbit1 { 
    width: 100px; 
    height: 100px;
    animation-duration: 4s; 
  }
  
  .orbit2 { 
    width: 140px; 
    height: 140px; 
    animation-duration: 6s; 
  }
  
  .orbit3 { 
    width: 180px; 
    height: 180px; 
    animation-duration: 8s; 
  }
  
  .orbit4 { 
    width: 220px; 
    height: 220px; 
    animation-duration: 10s; 
  }
  
  .orbit5 { 
    width: 280px; 
    height: 280px; 
    animation-duration: 16s; 
  }
  
  .orbit6 { 
    width: 340px; 
    height: 340px; 
    animation-duration: 20s; 
  }
  
  .orbit7 { 
    width: 400px; 
    height: 400px; 
    animation-duration: 24s; 
  }
  
  .orbit8 { 
    width: 460px; 
    height: 460px; 
    animation-duration: 30s; 
  }
  
  .mercury { 
    width: 6px; 
    height: 6px; 
    background: gray; 
    color: aliceblue;
  }

  .venus { 
    width: 10px; 
    height: 10px; 
    background: orange; 
    color: aliceblue;
  }
  
  .earth { 
    width: 12px; 
    height: 12px; 
    background: blue; 
    color: aliceblue;
  }
  
  .mars { 
    width: 8px; 
    height: 8px; 
    background: red; 
    color: aliceblue;
  }
  
  .jupiter { 
    width: 18px; 
    height: 18px; 
    background: brown; 
    color: aliceblue;
  }
  
  .saturn  { 
    width: 16px; 
    height: 16px; 
    background: gold; 
    color: aliceblue;
  }
  
  .uranus  { 
    width: 14px; 
    height: 14px; 
    background: lightblue; 
    color: aliceblue;
  }
  
  .neptune { 
    width: 14px; 
    height: 14px; 
    background: blueviolet; 
    color: aliceblue;
  }

  @keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }
  